.slider::-moz-range-progress{
    height:10px;
    background-color: hsl(174, 86%, 45%);
    border-radius:10px;
}
.slider::-webkit-slider-thumb {
    width: 40px;
    height: 40px;
    background: hsl(174, 86%, 45%);
    border:none;
    outline:none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 2;
    box-shadow: 1px 10px 22px 2px rgba(16,213,194,0.5);
    -webkit-box-shadow: 1px 10px 22px 2px rgba(16,213,194,0.5);
    -moz-box-shadow: 1px 10px 22px 2px rgba(16,213,194,0.5);
    background-image: url('../images/icon-slider.svg');
    background-repeat: no-repeat;
    background-position:center;
    background-size:fit;
  }
  .slider::-moz-range-thumb {
    width: 40px;
    height: 40px;
    background: hsl(174, 86%, 45%);
    border:none;
    outline:none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 2;
    box-shadow: 1px 10px 22px 2px rgba(16,213,194,0.5);
    -webkit-box-shadow: 1px 10px 22px 2px rgba(16,213,194,0.5);
    -moz-box-shadow: 1px 10px 22px 2px rgba(16,213,194,0.5);
    background-image: url('../images/icon-slider.svg');
    background-repeat: no-repeat;
    background-position:center;
    background-size:fit;
  }